// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

// number inputs
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  margin-left: 10px;
}