// global
.letter-spacing-none {
  letter-spacing: 0;
}

// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

// number inputs
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  margin-left: 10px;
}

// q-popup-edit-buttons
.q-popup-edit__buttons {
  .q-btn {
    text-transform: none;
  }
}

// entries
.entries {
  .q-slide-item {
    border: 1px solid rgba(0, 0, 0, 0.12);
    &:not(:first-child) {
      margin-top: -1px;
    }
  }
  .sortable-ghost {
    opacity: 0;
  }
}